@using ASP.NET_Web.Models.ProductEntity.dto
@model EditProductDTO

<h1>
    Edit Movie
</h1>

@using(@Html.BeginForm("SaveEdit", "Product")) {
    <div class="vstack gap-3" style="width: 300px;">
        <div class="group-form">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="group-form"> 
            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Price)
        </div>
        <div class="group-form"> 
            @Html.LabelFor(m => m.Stock)
            @Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Stock)
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}