@using ASP.NET_Web.ViewModels
@model NewCustomerViewModel

<h1>
    Create Customer
</h1>

@using(@Html.BeginForm("Save", "Customer")) {
    <div class="vstack gap-3 w-50">
        <div class="group-form">
            @Html.LabelFor(m => m.Customer!.Name)
            @Html.TextBoxFor(m => m.Customer!.Name, new { @class = "form-control" })
        </div>
        <div class="group-form"> 
            @Html.LabelFor(m => m.Customer!.Email)
            @Html.TextBoxFor(m => m.Customer!.Email, new { @class = "form-control" })
        </div>
        <div class="group-form"> 
            @Html.LabelFor(m => m.Customer!.Password)
            @Html.PasswordFor(m => m.Customer!.Password, new { @class = "form-control" })
        </div>
        <div class="group-form"> 
            @Html.LabelFor(m => m.Customer!.MembershipTypeId)
            @Html.DropDownListFor(m => m.Customer!.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        </div>
        @Html.HiddenFor(c => c.Customer!.Id)
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}