@using ASP.NET_Web.Models.CustomerEntity.ViewModels
@model NewCustomerViewModel

<h1>
    Create Customer
</h1>

@using(@Html.BeginForm("SaveNew", "Customer")) {
    <div class="vstack gap-3" style="width: 300px;">
        <div class="group-form">
            @Html.LabelFor(m => m.CreateCustomerDTO!.Name)
            @Html.TextBoxFor(m => m.CreateCustomerDTO!.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CreateCustomerDTO!.Name)
        </div>
        <div class="group-form"> 
            @Html.LabelFor(m => m.CreateCustomerDTO!.Email)
            @Html.TextBoxFor(m => m.CreateCustomerDTO!.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CreateCustomerDTO!.Email)
        </div>
        <div class="group-form"> 
            @Html.LabelFor(m => m.CreateCustomerDTO!.Birthday)
            @Html.TextBoxFor(m => m.CreateCustomerDTO!.Birthday, "{0:yyyy-MM-dd}", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CreateCustomerDTO!.Birthday)
        </div>
        <div class="group-form"> 
            @Html.LabelFor(m => m.CreateCustomerDTO!.Password)
            @Html.PasswordFor(m => m.CreateCustomerDTO!.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CreateCustomerDTO!.Password)
        </div>
        <div class="group-form"> 
            @Html.LabelFor(m => m.CreateCustomerDTO!.MembershipTypeId)
            @Html.DropDownListFor(m => m.CreateCustomerDTO!.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CreateCustomerDTO!.MembershipTypeId)
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}